---
interface Props {
	title: string;
}

const { title } = Astro.props;
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.		com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?		family=Inika:wght@400;700&display=swap" 		rel="stylesheet">
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html, body {
		overflow-x: hidden;
  margin: 0;
  padding: 0; /* Elimina el padding negativo */
  box-sizing: border-box; /* Esto ayuda a que el padding se comporte como debería */
  font-family: system-ui, sans-serif;
  background: linear-gradient(270deg, #DADADA 0%, #FFFFFF 50%, #DADADA 100%);
	}

	h3 {
		margin: 0;
		font-family: "Inika", serif;
  	font-weight: 400;
  	font-style: normal;
		color: white;
		font-size: clamp(1.2rem, 2.2vw, 1.6rem);
	}

	h1{
		font-size: clamp(2.5rem,7vw,3.2rem);
	}

	h2{
		margin: 0;
		font-size: clamp(2.5rem,7vw,3.2rem);
	}

	p {
		margin: 0;
		font-family: 'Inika';
		font-style: normal;
		font-weight: 700;
		font-size: clamp(1.2rem, 2.2vw, 1.6rem);
		color: #000000;
	}

	.hero-main-text {
		font-family: "Zilla Slab Highlight";
		color: white;
		margin: 0;
		font-size: 2.2rem;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	.main-tittle {
  	text-align: center;
		font-family: 'Inika';
		font-style: normal;
  	font-weight: bold;
		letter-spacing: -0.	1rem;
  	color: white;
  	-webkit-text-stroke: 	3px #8b4513;
		text-shadow: 2px 2px 	#8b4513;
	}
</style>
